div{
width: 400px;
height: 400px;
background-color: blue;
}
section{
width: 300px;
height: 300px;
background-color: blueviolet;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    size: 2cm;
    color: brown;
}